<ul id="dashboard-menu">
    <li ng-model="dashboardTab" class="{{dashboardTab}}">
        <a href>
            <i class="icon-desktop"></i>
            <span>Projects</span>
        </a>
    </li>
    <li ng-model="encounterTab" class="{{encounterTab}}">
        <a href>
            <i class="icon icon-list-alt"></i>
            <span>Results</span>
        </a>
    </li>
    <li ng-model="eligibilityTab" class="{{eligibilityTab}}">
        <a href>
            <i class="icon icon-share"></i>
            <span>User</span>
        </a>
    </li>
</ul>
