#IDE stuff
.idea

#python stuff
*.pyo
*.pyc
.coverage
coverage_html_reports

#django stuff
webometrics.db

#scrapyd stuff
build/
dbs/
eggs/
project.egg-info/
setup.py
items
logs

#twisted stuff
twistd.log
twistd.pid
