{% extends '_base.html' %}
{% load humanize %}
{% load static %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <div ng-app="projectApp">
        <form ng-submit="createProject()" ng-controller="ProjectCtrl">
            <input class="form-control" name="project_name" type="text" id="project_name" placeholder="Project name"
                   ng-model="project_name"/>
            <input class="btn btn-primary" type="submit">
        </form>
        <div ng-view></div>
    </div>
{% endblock %}
{% block scriptfiles %}
    <script src="{% static 'js/lib/angular.js' %}"></script>
    <script src="{% static 'js/lib/angular-route.js' %}"></script>
    <script src="{% static 'js/lib/angular-resource.js' %}"></script>
    <script src="{% static 'js/lib/angular-cookies.js' %}"></script>

    <script src="{% static 'js/lib/underscore.js' %}"></script>
    <script src="{% static 'js/lib/jquery.smartWizard-2.0.js' %}"></script>

    <script src="{% static 'js/projects/app.js' %}"></script>
    <script src="{% static 'js/projects/controllers.js' %}"></script>
    <script src="{% static 'js/projects/services.js' %}"></script>
{% endblock %}
{% block scripts %}
{% endblock %}