{% extends '_base.html' %}
{% load humanize %}
{% load static %}
{% block pagestyle %}
{% endblock %}
{% block body %}
    <div class="col-lg-3">
        <div>
            <h4>Create project</h4>

            <form role="form" class="form-horizontal" action="{% url 'project_new' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input name="project_name" class="form-control" required placeholder="project name"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary pull-right"/>
                </div>
            </form>
        </div>
        {% if projects %}
            <ul class="nav nav-pills nav-stacked">
                {% for p in projects %}
                    <li class="{% if active_project == p %}active{% endif %}">
                        <a href="{% url 'project_det' p.id %}" class="col-md-10">
                            <strong>{{ p.name }}</strong>

                            <p>
                                Created
                                <small>{{ p.created | naturaltime }}</small>
                            </p>
                        </a>
                        <a class="col-md-2" href="{% url 'project_delete' p.id %}" title="delete project">
                            <i class="glyphicon glyphicon-trash"></i></a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div><span>No projects available</span></div>
        {% endif %}
    </div>
    <div class="col-lg-9">
        {% if active_project %}
            <div>
                <form method="post" action="{% url 'project_edit' active_project.id %}" class="form-inline" role="form">
                    {% csrf_token %}
                    <h3 class="project_title" contenteditable="true">
                        {{ active_project.name }}
                    </h3>

                    <div class="form-group">
                        <input type="text" contenteditable="true" placeholder="project name"
                               value="{{ active_project.name }}" class="form-control"/>
                    </div>
                    <input type="submit" class="btn btn-primary" value="change"/>
                </form>
                <p>{{ active_project.created | naturalday }}</p>

                <div ng-app="projectApp" ng-controller="ProjectDomainNewCtrl">
                    <form ng-submit="addPD({{ active_project.id }})" class="form-horizontal" role="form" name="frmAddPD">
                        <div class="form-group">
                            <label for="pd_domain" class="col-sm-2 control-label">Domain</label>

                            <div class="col-sm-10">
                                <select id="pd_domain" class="form-control" ng-model="form.pd_domain" name="pd_domain" required>
                                    <option value="" selected>Select a domain</option>
                                    {% for i in academicdomains %}
                                        <option value="{{ i.id }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pd_subdomain" class="col-sm-2 control-label">Sub domain</label>

                            <div class="col-sm-10">
                                <input class="form-control" type="text" ng-model="form.pd_subdomain" name="pd_subdomain"
                                       placeholder="Sub domain" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pd_starturl" class="col-sm-2 control-label">Start URL</label>

                            <div class="col-sm-10">
                                <input class="form-control" type="url" ng-model="form.pd_starturl" name="pd_starturl"
                                       placeholder="Start URL"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" class="btn btn-primary" disabled ng-disabled="frmAddPD.$invalid" value="Add"/>
                            </div>
                            <div class="col-md-1 col-md-offset-11">
                                <img src="{% static 'img/loader.gif' %}" ng-show="creating"/>
                            </div>
                        </div>
                    </form>
                </div>
                <table class="table table-responsive table-bordered table-striped table-hover">
                    <caption><h4>Domains</h4></caption>
                    <thead>
                    <tr>
                        <td>#</td>
                        <td>Domain</td>
                        <td>Subdomain</td>
                        <td>Start URL</td>
                        <td>Start time</td>
                        <td>Stop time</td>
                        <td>Status</td>
                        <td colspan="2"></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in projectdomains %}
                        <tr>
                            <td></td>
                            <td><a target="_blank" href="{{ i.domain.link }}">{{ i.domain.domain }}</a></td>
                            <td>{{ i.subdomain }}</td>
                            <td><a target="_blank" href="{{ i.starturl }}">{{ i.starturl }}</a></td>
                            <td>{{ i.starttime | naturalday }}</td>
                            <td>{{ i.stoptime | naturalday }}</td>
                            <td>
                                <label class="label label-{% if i.status == 'finished' %}success{% elif i.status == 'running' %}info{% else %}danger{% endif %}">
                                    {{ i.status }}</label>
                            </td>
                            <td>
                                {% if i.status == 'running' %}
                                    <a href class="btn btn-warning">cancel</a>
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn btn-danger">delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            Select a project to view its details
        {% endif %}
    </div>
{% endblock %}

{% block scriptfiles %}
    <script src="{% static 'js/lib/angular.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/lib/angular-resource.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/lib/angular-route.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/lib/underscore.js' %}" type="text/javascript"></script>

    <script src="{% static 'js/common/utils.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/projects/app.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/projects/controllers.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/projects/services.js' %}" type="text/javascript"></script>
{% endblock %}
