<table class="table table-responsive table-bordered table-striped table-hover">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Created</th>
        <th>Owner</th>
        <th>Domain(s)</th>
        <th></th>
    </tr>
    <tr ng-repeat="i in projects | orderBy:displayOrder">
        <td>{{ $index +1 }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.created|date }}</td>
        <td>{{ i.owner }}</td>
        <td>{{ i.projectdomain_project.length }}</td>
        <td>
            <button class="close" ng-click="delProject(i)">X</button>
        </td>
    </tr>
</table>
